@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #151618;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 60px 0;
  text-align: center;
  font-family: "Cormorant", serif;
}

.btn {
  font-size: 20px;
  font-weight: 300;
  padding: 12px 41px;
  border: 1px solid #151618;
  background: #fff;
  transition: all 0.3s ease-in;
}

.btn:hover {
  color: #fff;
  background: #151618;
}

.overflow {
  overflow: hidden;
}

.shadow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background: #151618;
  opacity: 0.5;
  height: 150vh;
}

.close {
  display: none;
}

@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  .title {
    font-size: 24px;
    margin: 0 0 30px 0;
  }
}
.header {
  padding: 30px 0;
  position: relative;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger {
  display: none;
  width: 45px;
  height: 2px;
  background: #151618;
  position: relative;
}
.header__burger::before {
  content: "";
  width: 45px;
  height: 2px;
  background: #151618;
  position: absolute;
  top: -10px;
  left: 0;
}
.header__burger::after {
  content: "";
  width: 45px;
  height: 2px;
  background: #151618;
  position: absolute;
  top: 10px;
  left: 0;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 75px;
}
.header__link {
  font-size: 18px;
  color: #151618;
  transition: color 0.3s ease-in;
}
.header__link:hover {
  color: #B8B58B;
}
.header__login {
  display: flex;
  align-items: center;
  gap: 0 100px;
}
.header__login-nav {
  display: flex;
  gap: 0 20px;
}
@media (max-width: 900px) {
  .header__list {
    gap: 0 40px;
  }
  .header__link {
    font-size: 14px;
  }
  .header__login {
    gap: 0 50px;
  }
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
  .header__nav {
    display: none;
  }
}
.header__search.search__active {
  border: 1px solid #151618;
  padding: 10px 20px;
  border-radius: 30px;
}

.header__search.search__no-active .search__input, .header__search.search__no-active .search__close {
  display: none;
}

.search__input {
  width: 100%;
}

.burger {
  width: 360px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  background: #fff;
  position: absolute;
  top: -730px;
  left: 0;
  right: 0;
  z-index: 5;
}
.burger__container {
  max-width: 300px;
  margin: 0 auto;
}
.burger__btn {
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
}
.burger__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px 0;
}
.burger__link {
  color: #151618;
  font-family: "Cormorant", serif;
  font-size: 24px;
  transition: color 0.3s ease-in;
}
.burger__link:hover {
  color: #B8B58B;
}
.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background: #F7F2EA;
  margin: 60px 0;
}
.burger__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px 0;
  margin: 0 0 60px 0;
}
.burger__contact-link {
  color: #151618;
  font-family: "Open Sans", sans-serif;
  transition: color 0.3s ease-in;
}
.burger__contact-link:hover {
  color: #B8B58B;
}
.burger__login {
  display: flex;
  justify-content: center;
  gap: 0 70px;
  padding: 20px 0;
  background: #F7F2EA;
}

.burger.active {
  animation: 0.5s linear 0s burgerActive;
  animation-fill-mode: forwards;
}

.burger.close {
  animation: 0.5s linear 0s burgerNoActive;
  animation-fill-mode: forwards;
}

@keyframes burgerActive {
  from {
    top: -730px;
  }
  to {
    top: 0px;
  }
}
@keyframes burgerNoActive {
  from {
    top: 0px;
  }
  to {
    top: -730px;
  }
}
.intro {
  background: url(../img/intro/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}
.intro__inner {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Cormorant", serif;
}
.intro__title {
  font-size: 60px;
  color: #fff;
  font-weight: 400;
  width: 790px;
  margin: 0 0 20px 0;
}
.intro__subtitle {
  font-size: 24px;
  color: #fff;
  width: 560px;
  margin: 0 0 50px 0;
}

@media (max-width: 810px) {
  .intro__title {
    font-size: 40px;
    width: 450px;
  }
  .intro__subtitle {
    width: 450px;
  }
}
@media (max-width: 480px) {
  .intro__title {
    font-size: 24px;
    width: 340px;
  }
  .intro__subtitle {
    font-size: 13px;
    width: 340px;
  }
}
.blockquote {
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  width: 705px;
  text-align: center;
  padding: 150px 0;
  margin: 0 auto;
  position: relative;
}

.blockquote::after {
  content: "";
  position: absolute;
  right: -46px;
  bottom: 138px;
  z-index: -1;
  width: 360px;
  height: 60px;
  background: #F7F2EA;
  opacity: 0.5;
}

@media (max-width: 800px) {
  .blockquote {
    font-size: 24px;
    max-width: 430px;
  }
  .blockquote::after {
    right: -7px;
    bottom: 145px;
    width: 200px;
    height: 35px;
  }
}
@media (max-width: 480px) {
  .blockquote {
    font-size: 16px;
    max-width: 260px;
  }
  .blockquote::after {
    right: 18px;
    bottom: 147px;
    width: 92px;
    height: 23px;
  }
}
.collection {
  font-family: "Cormorant", serif;
  padding: 0 0 150px 0;
}
.collection__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.collection__item {
  transition: transform 0.3s ease-in;
  cursor: pointer;
}
.collection__item:hover {
  transform: scale(1.2);
}
.collection__item-title {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0 0 0;
}

@media (max-width: 1000px) {
  .collection__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .collection {
    padding: 0 0 60px 0;
  }
}
.rewiews {
  padding: 60px 0;
  background: #F7F2EA;
}
.rewiews__list {
  display: flex;
  gap: 0 26px;
}
.rewiews__item {
  width: 280px;
}
.rewiews__item-text {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.rewiews__item-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

@media (max-width: 1000px) {
  .rewiews__list {
    flex-wrap: wrap;
    gap: 30px 76px;
    justify-content: center;
  }
}
@media (max-width: 678px) {
  .rewiews__item:nth-child(3), .rewiews__item:nth-child(4) {
    display: none;
  }
}
.blog {
  padding: 150px 0;
}
.blog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 60px;
  margin: 0 0 60px 0;
}
.blog__item {
  display: flex;
  gap: 0 20px;
}
.blog__item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog__item-title {
  font-size: 24px;
  font-weight: 400;
  font-family: "Cormorant", serif;
  width: 250px;
}
.blog__item-subtitle {
  font-size: 13px;
  font-weight: 300;
}
.blog__item-link {
  display: flex;
  align-items: center;
  gap: 0 8px;
  font-size: 13px;
  font-weight: 300;
  color: #151618;
  transition: gap 0.3s ease-in;
}
.blog__item-link:hover {
  gap: 0 12px;
}
.blog__btn {
  display: block;
  margin: 0 auto;
}

@media (max-width: 1180px) {
  .blog__list {
    gap: 40px 20px;
  }
  .blog__item {
    width: 460px;
  }
  .blog__item-img {
    width: 210px;
  }
  .blog__item-title {
    width: 210px;
  }
}
@media (max-width: 980px) {
  .blog__list {
    flex-direction: column;
    align-items: center;
    gap: 30px 20px;
  }
  .blog__item {
    width: 500px;
  }
  .blog__item-img {
    width: 270px;
  }
  .blog__item:nth-child(2), .blog__item:nth-child(4) {
    margin: 0 0 0 100px;
  }
}
@media (max-width: 622px) {
  .blog__item:nth-child(2), .blog__item:nth-child(4) {
    margin: 0 0 0 0;
  }
  .blog__item-img {
    width: 230px;
  }
}
@media (max-width: 524px) {
  .blog {
    padding: 60px 0;
  }
  .blog__list {
    margin: 0 0 30px 0;
  }
  .blog__item {
    flex-direction: column;
    align-items: center;
    width: 270px;
    gap: 10px 0;
  }
  .blog__item:nth-child(3), .blog__item:nth-child(4) {
    display: none;
  }
  .blog__item-img {
    width: 270px;
  }
  .blog__item-title {
    width: 270px;
  }
  .blog__item-link {
    margin: 10px 0 0 0;
  }
}
.news {
  background: url(../img/news/tea-bg.jpg) center/cover no-repeat;
  padding: 100px 0;
}
.news__title {
  font-size: 40px;
  font-family: "Cormorant", serif;
  margin: 0 0 50px 0;
}
.news__inner {
  display: flex;
  justify-content: space-between;
  gap: 0 40px;
}
.news__text {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  width: 580px;
}
.news__form {
  display: flex;
  align-items: flex-end;
  gap: 0 25px;
  margin: 0 0 12px 0;
}
.news__input::-moz-placeholder {
  color: #B8B58B;
}
.news__input::placeholder {
  color: #B8B58B;
}
.news__input {
  padding: 0 0 0 15px;
  border-bottom: 1px solid #B8B58B;
  width: 440px;
}
.news__confirm {
  display: flex;
  align-items: flex-start;
  gap: 0 10px;
  position: relative;
}
.news__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.news__checkbox-label::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #151618;
  background: #fff;
  margin: 3px 0 0 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.news__checkbox-label::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #B8B58B;
  margin: 3px 0 0 0;
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: 2;
  opacity: 0;
}
.news__checkbox:checked + .news__checkbox-label::after {
  opacity: 1;
}
.news__disc {
  font-size: 13px;
  font-weight: 300;
  width: 560px;
  margin: 0 0 0 10px;
}

@media (max-width: 1000px) {
  .news {
    background: url(../img/news/tea-bg-1000.jpg);
  }
  .news__title {
    text-align: center;
  }
  .news__inner {
    flex-direction: column;
    align-items: center;
    gap: 60px 0;
  }
  .news__text {
    width: 100%;
    max-width: 780px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .news {
    padding: 50px 0;
    background: url(../img/news/tea-bg-768.jpg);
  }
  .news__text {
    font-size: 13px;
  }
  .news__form {
    justify-content: center;
  }
  .news__input {
    width: 314px;
  }
  .news__confirm {
    width: 460px;
  }
}
@media (max-width: 480px) {
  .news {
    background: #F7F2EA;
  }
  .news__title {
    font-size: 24px;
    margin: 0 0 30px 0;
  }
  .news__inner {
    gap: 30px 0;
  }
  .news__input {
    width: 205px;
  }
  .news__confirm {
    width: 340px;
  }
}
.priorities {
  padding: 150px 0;
}
.priorities__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.priorities__item-title {
  font-size: 30px;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.priorities__item-subtitle {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 40px 0;
}

@media (max-width: 1000px) {
  .priorities__list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 210px;
  }
}
@media (max-width: 798px) {
  .priorities__list {
    gap: 50px 130px;
  }
}
.footer {
  background: #F7F2EA;
  padding: 100px 0 25px 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 0 125px;
}
.footer__title {
  font-size: 24px;
  margin: 0 0 50px 0;
  font-family: "Cormorant", serif;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.footer__link {
  font-size: 16px;
  font-weight: 300;
  color: #151618;
  transition: color 0.3s ease-in;
}
.footer__link:hover {
  color: #B8B58B;
}
.footer__info {
  display: flex;
  align-items: center;
  gap: 50px 40px;
  justify-content: flex-end;
}
.footer__info-text {
  font-weight: 300;
  font-style: italic;
  width: 270px;
  margin: 0 0 20px 0;
}
.footer__info-title {
  font-size: 12px;
  font-weight: 300;
  width: 130px;
}
.footer__subtitle {
  font-size: 13px;
  font-weight: 300;
  width: 270px;
  margin: 0 0 20px 0;
}
.footer__connects {
  display: flex;
  gap: 0 72px;
  align-items: center;
  margin: 0 0 40px 0;
}
.footer__connect {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.footer__connect-link {
  color: #151618;
  position: relative;
}
.footer__connect-phone::before {
  content: "";
  width: 21px;
  height: 21px;
  background: url(../img/footer/phone.svg);
  position: absolute;
  top: 2px;
  left: -31px;
}
.footer__connect-email:before {
  content: "";
  width: 22px;
  height: 16px;
  background: url(../img/footer/email.svg);
  position: absolute;
  top: 3px;
  left: -32px;
}
.footer__socials {
  display: flex;
  gap: 0 20px;
  justify-content: flex-end;
}
.footer__socials a {
  display: flex;
  align-items: center;
}
.footer__paymant {
  display: flex;
  gap: 0 20px;
  align-items: center;
}
.footer__paymant a {
  display: flex;
  align-items: center;
}
.footer__paymants {
  display: flex;
  padding: 100px 0 0 0;
  gap: 0 80px;
}

.nav__company {
  width: 156px;
}

@media (max-width: 1048px) {
  .footer__info {
    align-items: start;
    flex-wrap: wrap;
  }
  .footer__nav {
    gap: 0 72px;
  }
  .footer__paymants {
    gap: 0 35px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 50px 0;
  }
  .footer__nav {
    gap: 0 53px;
  }
}
@media (max-width: 690px) {
  .footer__inner {
    flex-wrap: wrap;
    gap: 50px 0;
  }
  .footer__nav {
    gap: 0 133px;
  }
  .footer__info {
    flex-direction: column;
    margin: 0 auto;
  }
  .footer__info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__connects {
    margin: 0;
  }
  .footer__info-text {
    width: 100%;
  }
  .footer__info-title {
    width: 100%;
  }
  .footer__contact {
    width: 100%;
    text-align: center;
  }
  .footer__contact-title {
    text-align: center;
  }
  .footer__subtitle {
    width: 100%;
  }
  .footer__paymants {
    justify-content: space-between;
    gap: 0;
  }
}
@media (max-width: 480px) {
  .footer__nav {
    gap: 0 72px;
  }
  .footer__info-box {
    flex-direction: column;
    gap: 40px 0;
  }
}
.basket {
  max-width: 1240px;
  min-height: 80vh;
  background: #fff;
  margin: 0 auto;
  border-radius: 30px;
  padding: 20px;
  font-family: "Cormorant", serif;
  font-size: 24px;
  position: absolute;
  top: -1000px;
  left: 0;
  right: 0;
  z-index: 6;
}
.basket__container {
  max-width: 1100px;
  margin: 0 auto;
}
.basket__logo {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #B8B58B;
}
.basket__title {
  font-size: 48px;
}
.basket__list {
  padding: 0 20px;
  height: 70vh;
  overflow-y: scroll;
}
.basket__list::-webkit-scrollbar {
  width: 8px; /* ширина всей полосы прокрутки */
}
.basket__list::-webkit-scrollbar-track {
  background: inherit; /* цвет зоны отслеживания */
}
.basket__list::-webkit-scrollbar-thumb {
  background-color: lightgray; /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
}
.basket__item {
  margin: 0 0 20px 0;
  border-radius: 20px;
  transition: background 0.3s ease-in;
  padding: 15px;
}
.basket__item:hover {
  background: lightgray;
}
.basket__item-info {
  display: flex;
  align-items: center;
  gap: 0 60px;
}
.basket__item-title {
  font-size: 36px;
}
.basket__amount {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 120px;
}
.basket__input {
  width: 70px;
  border: 1px solid #B8B58B;
  border-radius: 10px;
  text-align: center;
  font-size: 32px;
}
.basket__input::-webkit-outer-spin-button, .basket__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.basket__price {
  display: flex;
  font-size: 36px;
  gap: 0 10px;
  width: 150px;
}
.basket__footer {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: flex-end;
}
.basket__submit {
  display: flex;
  justify-content: flex-end;
  gap: 0 60px;
}
.basket__sumprice {
  display: flex;
  font-size: 36px;
}
.basket.basket__active {
  animation: 0.5s linear 0s basketActive;
  animation-fill-mode: forwards;
}

.basket.basket__close {
  animation: 0.5s linear 0s basketNoActive;
  animation-fill-mode: forwards;
}

@keyframes basketActive {
  from {
    top: -1000px;
  }
  to {
    top: 50px;
  }
}
@keyframes basketNoActive {
  from {
    top: 50px;
  }
  to {
    top: -1000px;
  }
}
@media (max-width: 768px) {
  .basket__item-info {
    flex-direction: column;
    gap: 30px 0;
  }
  .basket__amount {
    margin: 40px 0;
    justify-content: center;
    gap: 0 80px;
  }
  .basket__check {
    width: 300px;
  }
}
@media (max-width: 480px) {
  .basket__amount {
    gap: 0 30px;
  }
  .basket__submit {
    flex-direction: column;
    gap: 20px 0;
  }
  .basket__sumprice {
    justify-content: center;
  }
}
.login {
  max-width: 568px;
  background: #fff;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: -800px;
  z-index: 5;
}
.login__container {
  max-width: 480px;
  margin: 0 auto;
}
.login__screen {
  display: none;
}
.login__screen.login__screen-active {
  display: block;
}
.login__nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.login__btns {
  display: flex;
  gap: 0 30px;
  margin: 0 0 60px 0;
}
.login__btn {
  text-transform: uppercase;
  font-size: 18px;
  padding: 0 0 10px 0;
}
.login__title {
  font-size: 18px;
  color: #B8B58B;
  text-transform: uppercase;
}
.login__input {
  margin: 20px 0;
  padding: 5px 15px;
  border-radius: 30px;
  background: rgb(235, 233, 233);
  width: 100%;
  opacity: 0.5;
}
.login__signin-btn {
  display: block;
  width: 100%;
  border: 1px solid #B8B58B;
  border-radius: 30px;
  color: #B8B58B;
  padding: 10px 0;
  margin: 30px 0 0 0;
  transition: all 0.3s ease-in;
}
.login__signin-btn:hover {
  background: #B8B58B;
  color: #fff;
}
.login__line {
  display: block;
  width: 100%;
  height: 1px;
  background: #B8B58B;
  margin: 20px 0;
}
.login__link {
  display: block;
  text-align: center;
  color: #B8B58B;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
}

.btn__active {
  border-bottom: 2px solid #B8B58B;
  color: #B8B58B;
}

.login.login__active {
  animation: 0.5s linear 0s loginActive;
  animation-fill-mode: forwards;
}

.login.login__close {
  animation: 0.5s linear 0s loginNoActive;
  animation-fill-mode: forwards;
}

@keyframes loginActive {
  from {
    top: -800px;
  }
  to {
    top: 50px;
  }
}
@keyframes loginNoActive {
  from {
    top: 50px;
  }
  to {
    top: -800px;
  }
}/*# sourceMappingURL=main.css.map */