.collection {
    font-family: $second-ff;
    padding: 0 0 150px 0;
    &__title {
    }

    &__list {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__item {}

    &__item-title {
        font-size: 24px;
        font-weight: 400;
        margin: 10px 0 0 0;
    }
}
