.footer {
    background: $second-bg;
    padding: 100px 0 25px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        gap: 0 125px;
    }

    &__title {
        font-size: 24px;
        margin: 0 0 50px 0;
        font-family: $second-ff; 
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }

    &__link {
        font-size: 16px;
        font-weight: 300;
        color: $main-color;
        transition: color .3s ease-in;
    }
    &__link:hover {
        color: $lightgreen-color;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 50px 40px;
        justify-content: flex-end;

    }

    &__info-text {
        font-weight: 300;
        font-style: italic;
        width: 270px;
        margin: 0 0 20px 0;
    }

    &__info-title {
        font-size: 12px;
        font-weight: 300;
        width: 130px;
    }

    &__contact {}

    &__subtitle {
        font-size: 13px;
        font-weight: 300;
        width: 270px;
        margin: 0 0 20px 0;
    }

    &__connects {
        display: flex;
        gap: 0 72px;
        align-items: center;
        margin: 0 0 40px 0;
    }

    &__logo {}

    &__connect {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }

    &__connect-link {
        color: $main-color;
        position: relative;
    }
    &__connect-phone::before {
        content: "";
        width: 21px;
        height: 21px;
        background: url(../img/footer/phone.svg);
        position: absolute;
        top: 2px;
        left: -31px;
    }
    &__connect-email:before {
        content: "";
        width: 22px;
        height: 16px;
        background: url(../img/footer/email.svg);
        position: absolute;
        top: 3px;
        left: -32px;
    }


    &__socials {
        display: flex;
        gap: 0 20px;
        justify-content: flex-end;
    }
    &__socials a {
        display: flex;
        align-items: center;
    }

    &__company {}

    &__company-title {}

    &__paymant {
        display: flex;
        gap: 0 20px;
        align-items: center;
    }
    &__paymant a {
        display: flex;
        align-items: center;
    }
    &__paymants {
        display: flex;
        padding: 100px 0 0 0;
        gap: 0 80px;
    }
}
.nav {

    &__product {
    }


    &__company {
        width: 156px;
    }
    
}

@media (max-width: 1048px) {
    .footer__info {
        align-items: start;
        flex-wrap: wrap;
    }
    .footer__nav {
        gap: 0 72px;
    }
    .footer__paymants {
        gap: 0 35px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 50px 0;
    }
    .footer__nav {
        gap: 0 53px;
    }
}

@media (max-width: 690px) {
    .footer__inner {
        flex-wrap: wrap;
        gap: 50px 0;
    }
    .footer__nav {
        gap: 0 133px;
    }
    .footer__info {
        flex-direction: column;
        margin: 0 auto;
    }
    .footer__info-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__connects {
        margin: 0;
    }
    .footer__info-text {
        width: 100%;
    }
    .footer__info-title {
        width: 100%;
    }
    .footer__contact {
        width: 100%;
        text-align: center;
    }
    .footer__contact-title {
        text-align: center;
    }
    .footer__subtitle {
        width: 100%;
    }
    .footer__paymants {
        justify-content: space-between;
        gap: 0;
    }
}
@media (max-width: 480px) {
    .footer__nav {
        gap: 0 72px;
    }
    .footer__info-box {
        flex-direction: column;
        gap: 40px 0;
    }
}