.priorities {
    padding: 150px 0;
    &__title {}

    &__list {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__item {}

    &__item-title {
        font-size: 30px;
        font-weight: 300;
        margin: 0 0 10px 0;
    }

    &__item-subtitle {
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 40px 0;
    }
}
