.rewiews {
    padding: 60px 0;
    background: $second-bg;
    &__title {}

    &__list {
        display: flex;
        gap: 0 26px;
    }

    &__item {
        width: 280px;
    }

    &__item-text {
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
        margin: 0 0 10px 0;
    }

    &__item-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
    }
}
@media (max-width: 1000px) {
    .rewiews__list {
        flex-wrap: wrap;
        gap: 30px 76px;
        justify-content: center;
    }
}
@media (max-width: 678px) {
    .rewiews__item:nth-child(3), .rewiews__item:nth-child(4) {
        display: none;
    }
}