body {
    font-family: "Open Sans", sans-serif;
    color: $main-color;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
.title {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 60px 0;
    text-align: center;
    font-family: $second-ff;
}
.btn {
    font-size: 20px;
    font-weight: 300;
    padding: 12px 41px;
    border: 1px solid $main-color;
    background: $main-bg;
    transition: all .3s ease-in;
}
.btn:hover {
    color: $second-color;
    background: $black-bg;
}
.overflow {
    overflow: hidden;
}
.shadow {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background: $main-color;
    opacity: .5;
    height: 150vh;
}
.close {
    display: none;
}

@media (max-width: 480px) {
    .title {
        font-size: 24px;
        margin: 0 0 30px 0;
    }
}

