// Color
$main-color: #151618;
$second-color: #fff;
$lightgreen-color: #B8B58B;

// Background
$main-bg: #fff;
$second-bg: #F7F2EA; 
$black-bg: #151618;

// Font Family
$main-ff: "Open Sans", sans-serif;
$second-ff: "Cormorant", serif;
$third-ff: "IM Fell Great Primer", serif;